<p><b>Simsimi doesn't know how to answer that</b></p>
<h1>Teach Simsimi how to talk with you</h1>
<form action="/conversations/save">
	<p>When you say this..</p>
	<p><input type="text" name="new_question" value ="<%=@question%>"></p>
	<p>Simsimi answers..</p>
	<p><input type="text" name="new_answer"></p>
	<p><input type="submit"></p>
</form>